body{
	  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 scroll-behavior: auto;
 background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}
.maDivision{
   width: 30%;
  padding: 50px 35px 10px 35px;
  background: #fff;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}